<!
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<style>

</style>
    <body>
<h1>Ninjas</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>email</th>
        <th>nome</th>
        <th>rank</th>
        <th>missoes</th>
    </tr>
    </thead>
<tbody>
<tr th:each="ninjas: ${ninjasui}">
    <td th:text="${ninjas.ID}"></td>
    <td th:text="${ninjas.email}"></td>
    <td th:text="${ninjas.nome}"></td>
    <td th:text="${ninjas.rank}"></td>

</tr>
</tbody>
</table>
</body>
</html>